NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/connecthub

JWT_ACCESS_SECRET="#z5<6Sd4<PC?-tyq:sLP2RsAk;+WBq9kgIs1{&D=/Wz"
JWT_REFRESH_SECRET="$O!%msQ;D$x{<zT;)JsEsog(7D}:SL.n{32Yp4*pPDO"
JWT_ACCESS_EXPIRES_IN=59m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12
CORS_ORIGIN=http://localhost:3000
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
